---
vms:
- name: app
  box: puppetlabs/centos-7.2-64-nocm
  roles:
    - pe-puppet-agent
  provisioners:
    - type: shell
      inline: "/opt/puppetlabs/bin/puppet apply --modulepath=/vagrant/puppet/modules /vagrant/puppet/manifests/default.pp"
    #- type: puppet
    #  environment_path: puppet/environments
    #  environment: vagrant
